.single-product div.product {
  * {
    font-family: "Space Grotesk", sans-serif;
  }
  .reset_variations {
    color: #b58d41;
    text-decoration: underline;
  }
  .product-gallery-thumbs {
    width: 115px;
    float: left;
    margin-right: 20px;
    .single-slide {
      width: 115px;
      height: 115px;
      cursor: pointer;
      margin-top: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .slick-arrow {
      z-index: 9;
      position: absolute;
      @include hor-center();
      width: 100%;
      text-align: center;
      color: #fff;
      height: 40px;
      line-height: 40px;
      @include borderRadius(15px);
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0;
      &.slick-next {
        bottom: -15px;
        background: rgb(2, 0, 36);
        background: rgb(2, 0, 36);
        background: -moz-linear-gradient(
          180deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        background: -webkit-linear-gradient(
          180deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        background: linear-gradient(
          180deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#b58d41",GradientType=1);
        &:hover {
          opacity: 1;
        }
      }
      &.slick-prev {
        top: -15px;
        background: rgb(2, 0, 36);
        background: -moz-linear-gradient(
          0deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        background: -webkit-linear-gradient(
          0deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        background: linear-gradient(
          0deg,
          rgba(2, 0, 36, 0) 20%,
          rgba(181, 141, 65, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#b58d41",GradientType=1);
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .product-gallery-viewport {
    width: 490px;
    height: 490px;
    float: left;
    .single-slide {
      width: 100%;
      height: 490px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
  .summary {
    padding-left: 38px;
  }
  .product_title {
    font-size: 30px;
    color: #b58d41;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-weight: 700;
  }
  .price {
    margin-bottom: 23px;
    bdi {
      color: #262626;
      font-family: inherit;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 18px;
      span {
        font-family: inherit;
        margin-left: 8px;
        font-size: 14px;
        &::after {
          content: ".";
        }
      }
    }
  }
  .woocommerce-product-details__short-description {
    color: rgba(38, 38, 38, 0.5);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 35px;
    p {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }
  .woo-variation-swatches.wvs-show-label .variations {
    margin-bottom: 40px;
    td {
      height: 40px;
    }
  }
  button {
    &.single-product-add-to-cart-btn,
    &.single_add_to_cart_button {
      display: block !important;
      margin-left: 0 !important;
      background: #b58d41;
      @include borderRadius(2px);
      border-width: 0;
      font-size: 1rem;
      font-family: "Space Grotesk", sans-serif;
      font-weight: 700;
      width: 190px;
      height: 50px;
      text-transform: uppercase;
      color: #fff;
      margin-top: 25px !important;
    }
    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
    }
  }
}
.woo-variation-swatches {
  .variations {
    .woo-variation-items-wrapper {
      .variable-item.button-variable-item {
        box-shadow: none;
        color: #000;
        font-weight: 700;
        font-family: $grotesk;
        font-size: 20px;
        &:hover {
          box-shadow: none;
          color: #b58d41;
        }
      }
    }
  }
}
.single-related-products {
  .section-title {
    font-size: 22px;
    font-weight: 700;
    color: #b58d41;
    margin-bottom: 45px;
    text-transform: uppercase;
  }
}

.qib-container {
  border-bottom: 2px solid #262626;
  width: fit-content;
  padding-bottom: 7px;
  margin: 0 auto;
  .qib-button:not(#qib_id):not(#qib_id) {
    border: none;
    background: none;
    color: #262626;
    font-size: 25px;
    &:hover {
      background: none;
      color: #b58d41;
      box-shadow: none;
    }
    &:focus {
      border: none;
    }
  }
  .quantity input.qty:not(#qib_id):not(#qib_id) {
    border: none;
    color: #262626;
    font-size: 20px;
    font-weight: 700;
    border-width: 0 !important;
    &:hover {
      background: none;
      // color: #b58d41;
      box-shadow: none;
    }
    &:focus {
      border: none;
    }
  }
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free" !important;
}

@media (max-width: 768px) {
  .single-product div.product .summary {
    width: 100%;
    position: relative;
    top: 45px;
    text-align: center;
    padding-left: 0;
  }
  .woo-variation-swatches .variable-items-wrapper {
    justify-content: center;
  }
  .single-product div.product button.single-product-add-to-cart-btn,
  .single-product div.product button.single_add_to_cart_button {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .single-product div.product {
    .product-gallery-viewport {
      width: 100%;
      height: auto;
    }
    .product-gallery-thumbs {
      width: 100%;
      .single-slide {
        padding: 0 15px;
      }
    }
  }
}
