#loading-overlay{
  background:#000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99997;
  display: table;
  #loader{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  .loader2{
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
  }
  .loader2-double-bounce1, .loader2-double-bounce2, .loader3 > div, .loader4-cube1, .loader4-cube2, .loader5, .loader6-dot1, .loader6-dot2, .loader7 > div, .loader8-container1 > div, .loader8-container2 > div, .loader8-container3 > div{
    background-color: #ffffff;
  }
  .loader2-double-bounce1, .loader2-double-bounce2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: loader-bounce 2s infinite ease-in-out;
    animation: loader-bounce 2s infinite ease-in-out;
  }
  .loader2-double-bounce2{
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
}
@-webkit-keyframes loader-bounce {
  0%,100% {
      transform: scale(0);
      -webkit-transform: scale(0)
  }

  50% {
      transform: scale(1);
      -webkit-transform: scale(1)
  }
}

@keyframes loader-bounce {
  0%,100% {
      transform: scale(0);
      -webkit-transform: scale(0)
  }

  50% {
      transform: scale(1);
      -webkit-transform: scale(1)
  }
}
#masthead {
  transition: 0.6s;
  padding: 10px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  .logo-wrapper {
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 75px;
    display: block;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    ul {
      width: fit-content;
      margin-left: auto;
      li {
        margin-right: 25px;
        &:last-of-type {
          margin-right: 0;
        }
        a {
          text-transform: uppercase;
          color: #fff;
          font-weight: 500;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background: transparent;
            transition: all 0.6s;
            opacity: 0;
          }
          &:hover {
            &::after {
              opacity: 1;
              width: 100%;
              background: #fff;
            }
          }
        }
      }
    }
  }
  &.sticky {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
    transition: 0.6s;
  }
}
// Style from Old header START
#navbar-mobile,
#navbar-mobile-container {
  display: none;
}
#ceiling {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
  &.sticky {
    background: #0c0c0c;
    height: 80px;
    .logo a img {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 175px;
      max-height: none;
      max-height: 80px;
      height: auto;
    }
  }
}
.menu-semi-transparent.has-header-image.show-title-area #navbar-container,
.menu-semi-transparent.is-home-header #navbar-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
}
#navbar-left {
  float: left;
  text-align: right;
  width: 50%;
  padding-right: 90px;
}
#navbar-container .nav-menu {
  padding: 0;
  margin: 0;
  li {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    position: relative;
    list-style-type: none !important;
    display: inline;
    &:hover {
      a {
        color: #ceac43;
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      // line-height: 95px;
      -webkit-transition: color ease 0.2s;
      transition: color ease 0.2s;
      display: inline-block;
      padding: 0 13px;
      font-weight: 700;
    }
  }
}
body.innerPage {
  .logo {
    a {
      img {
        max-height: 80px;
      }
    }
  }
}
.logo {
  float: left;
  position: relative;
  a {
    display: block;
    position: relative;
    img {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      max-width: 200px;
      max-height: 200px;
      height: auto;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s;
      position: absolute;
      top: -20px;
      left: 0;
      width: auto;
      max-width: none;
    }
  }
}
#navbar-right {
  float: right;
  text-align: left;
  width: 50%;
  padding-left: 90px;
}
#navbar-container .nav-menu {
  padding: 0;
  margin: 0;
}
#navbar-container .nav-menu li.sub-menu-dark ul.sub-menu,
#navbar-container .nav-menu li.sub-menu-dark ul.children {
  -webkit-box-shadow: inset 0px 1px 0px 0px rgb(255 255 255 / 5%);
  box-shadow: inset 0px 1px 0px 0px rgb(255 255 255 / 5%);
}
#navbar-container .nav-menu li ul.sub-menu,
#navbar-container .nav-menu li ul.children,
#top-bar.nav-menu li ul.sub-menu,
#top-bar .nav-menu li ul.children {
  background: #0c0c0c;
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  margin-left: 0;
  padding: 0;
  position: absolute;
  top: auto;
  left: 0;
  opacity: 0.8;
  z-index: 107 !important;
}
#navbar-container .nav-menu li ul.sub-menu li:first-child,
#navbar-container .nav-menu li ul.children li:first-child {
  padding-top: 12px;
}
#navbar-container .nav-menu li ul.sub-menu li,
#navbar-container .nav-menu li ul.children li,
#top-bar .nav-menu li ul.sub-menu li,
#top-bar .nav-menu li ul.children li {
  position: relative;
  height: auto;
  display: block;
  margin: 0;
  padding: 6px 12px;
}
#navbar-container .nav-menu li,
#top-bar .nav-menu li {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  position: relative;
  list-style-type: none !important;
  display: inline;
  &.button-style {
    a {
      span {
        background: #ceac43;
        @include borderRadius(3px);
        padding: 15px 25px;
        i {
          margin-right: 8px;
        }
      }
    }
    &:hover {
      span {
        color: #fff;
        background: #000;
      }
    }
  }
}
#navbar-container .nav-menu li.menu-item-has-children:hover ul,
#navbar-container .nav-menu li.page_item_has_children:hover ul,
#navbar-container .nav-menu li.active:hover ul {
  display: block;
}
#navbar-container .nav-menu li ul.sub-menu li,
#navbar-container .nav-menu li ul.children li,
#top-bar .nav-menu li ul.sub-menu li,
#top-bar .nav-menu li ul.children li {
  position: relative;
  height: auto;
  display: block;
  margin: 0;
  padding: 6px 12px;
}
#navbar-container .nav-menu li ul.sub-menu li a,
#navbar-container .nav-menu li ul.children li a,
#top-bar .nav-menu li ul.sub-menu li a,
#top-bar .nav-menu li ul.children li a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  line-height: 1.4 !important;
  padding: 6px 5px;
  text-align: left;
  display: block;
  height: 100%;
  margin: 0;
  background: 0 0 !important;
  width: 200px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  opacity: 1 !important;
}
#navbar-container .nav-menu li ul.sub-menu li {
  a {
    color: #fff !important;
  }
  &:hover {
    a {
      color: #ceac43 !important;
    }
  }
}
// Style from Old header END
@media (max-width: 768px) {
  #ceiling.sticky .logo a img {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  #navbar-left,
  #navbar-right {
    display: none;
  }
  .mob-trigger {
    display: block;
    width: 20px;
    height: 30px;
    position: fixed;
    right: 5vw;
    a {
      width: 100%;
      height: 100%;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #ceac43;
        margin-bottom: 3px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .logo {
    position: fixed;
    left: 5vw;
    top: 0;
    height: 100px;
    width: 100px;
    a {
      width: 100%;
      height: 100%;
      img {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        width: 100%;
        height: 100%;
        object-fit: contain;
        top: 0;
      }
    }
  }
  #navbar-mobile,
  navbar-mobile-container {
    display: block;
  }
  #navbar-mobile-container {
    display: none;
    .close-menu {
      display: block;
      width: 20px;
      height: 30px;
      position: fixed;
      right: 5vw;
      top: 5vh;
      z-index: 9999;
      a {
        color: #fff;
      }
    }
    text-align: center;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000;
    #site-navigation-primary-mobile {
      padding-top: 95px;
    }
    .mob-menu {
      padding-top: 35px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      &:last-of-type {
        padding-top: 0;
      }
      li {
        text-align: left;
        padding-left: 15px;
        margin-bottom: 15px;
        &.button-style {
          margin-top: 15px;
        }
      }
    }
  }
}
